#login{
    
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}
#login form{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
#logintitle {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: black;
    

}
.list{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    
}
.list label {
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.list input{
    width: 90%;
    padding: 3px;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    border: 1px solid rgb(71, 71, 70);
    color: black;

}
.inputfield{
    display: flex;

    flex-direction: column;
    width: 100%;
    gap: 16px;
}

#loginbtn{
    padding: 10px 40px;
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    transition: all 0.2s;
    cursor: pointer;
    
}
#loginbtn svg{
    
    font-size: 18px;
}

#loginbtn:hover {
    border: 2px solid red;
    background: transparent;
    color: red;
}
